# Nutrition Data Source ("API" for CalorieNinjas, "MOCK" for offline testing)
NUTRITION_SOURCE="MOCK"

# CalorieNinjas API Key (Required if NUTRITION_SOURCE is "API")
# Get yours at: https://calorieninjas.com/api
CALORIE_NINJAS_API_KEY=""

# Database Configuration (SQLite)
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_secure_random_string_here_at_least_32_characters"
